<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="databaseAccess" type="matIT.SlideShow.DB.Config"/>
    <section name="direct3d" type="matIT.SlideShow.Config"/>
    <section name="cfgForm" type="matIT.SlideShow.Config"/>
    <section name="slideShow" type="matIT.SlideShow.Config"/>
    <section name="pickupProcess" type="matIT.SlideShow.Pickup.Config"/>
    <section name="uploadProcess" type="matIT.SlideShow.Upload.Config"/>
  </configSections>
  
  <appSettings>
    <!-- Abwärtskompatibel -->  
  </appSettings>
  
  <databaseAccess>
    <add key="odbcDriver" value="MySQL ODBC 5.1 Driver" />
    <add key="odbcHost" value="localhost" />
    <add key="odbcDatabase" value="SlideShow" />
    <add key="odbcUser" value="root" />
    <add key="odbcPassword" value="markusen" />
    <add key="replaceFilePath_Replace" value="C:\FFS_Maskenball\Saved" />
    <add key="replaceFilePath_New" value="C:\Test" />
  </databaseAccess>

  <direct3d>
    <!-- Hardware / Software / Reference -->
    <add key="DeviceType" value="Hardware" />
    <!--32-bit: D32, D24X8, D24X4S4 - 24-bit: D24S8 - 16-bit: D16, D15S1, D16Lockable, L16 -->
    <add key="DepthFormat" value="D16" />
  </direct3d>

  <cfgForm>
    <add key="monitor" value="\\.\DISPLAY2" />
  </cfgForm>

  <slideShow>
    <add key="showTime" value="3000" />
    <add key="fadeTime" value="25" />
    <add key="fadeValue" value="1" />
    <add key="monitor" value="\\.\DISPLAY1" />
    
    <add key="viewAllPictures" value="false" />             <!-- Prio 1 - Zeigt alle Bilder zufällig (unabhängig, ob bereits gezeigt) -->
    <add key="viewLastPickedUpFirst" value="true" />        <!-- Prio 2 - Ruft immer das zuletzt importierte Bild ab (unabhängig, ob bereits gezeigt) -->
    
    <add key="viewAllPicturesIfNoNewOne" value="false" />   <!-- Zeigt alte Bilder, wenn keine noch nicht gezeigten gefunden werden können -->
    <add key="viewOnlyMode" value="true" />                 <!-- Schreibt keine viewCount updates in die DB -->

    <add key="viewImageID" value="true" />
    <!-- Zeigt die aktuelle BildID in der Ausgabe an -->
    <add key="viewImageID_Mode" value="1" />
    <!-- 0 = Datenbank ID, 1 = Filename w/o IMG, _, .img -> e.g.: IMG_0815.jpg -> 0815 -->
    <add key="viewImageID_Height" value="100" />
    <add key="viewImageID_FontSize" value="72" />
    <add key="viewImageID_BackgroundTransparency" value="190" />
    
  </slideShow>
  
  <pickupProcess>
    <add key="pickupFolder" value="C:\FFS_Maskenball\Pickup" />
    <add key="saveFolder" value="C:\FFS_Maskenball\Saved" />
    <add key="sleepTime" value="2000" />
    <add key="rotate" value="true" />
    <add key="deleteCopiedFiles" value="false" />
    <add key="writeTimeDifferenceSeconds" value="10" />
    <validExtensions>
      <add key="validExtension" value=".jpeg" />
      <add key="validExtension" value=".jpg" />
    </validExtensions>
    <add key="exif_rewrite" value="true" />
    <add key="EXIF_Author" value="Camera owner, Sebastian Eingaertner; Photographer, Sebastian Eingaertner; Image creator, Markus Mueller" />
    <add key="EXIF_Copyright" value="Copyright %Y Sebastian Eingaertner\0Copyright %Y Freiwillige Feuerwehr Frankfurt a. M. - Schwanheim e.V. All rights reserved." />
    <!-- %Y is used for the year -->
    <add key="EXIF_Comment" value="http://www.ff-schwanheim.de" />
  </pickupProcess>

  <uploadProcess>
    <add key="remoteFolder2" value="/images/phocagallery_importer/" />
    <add key="remoteFolder" value="/" />
    <add key="remoteHost" value="ff-schwanheim.de" />
    <add key="remoteHost1" value="localhost" />
    <add key="remotePort" value="21" />
    <add key="remoteUser" value="maskenball_upload" />
    <add key="remotePassword" value="feuerpatsche2013" />
    <add key="useSSL" value="false" />
    <add key="sleepTime" value="2000" />
    <add key="watermark" value="true" />
    <add key="watermarkMode" value="2" />
    <add key="importURL1" value="http://www.ff-schwanheim.de/images/phocagallery_importer/uploader.php?filename=" />
    <add key="importURL" value="" />
    <add key="chmod" value="775" />
  </uploadProcess>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="INFO"/>
      <file value="log\app.log" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  [%thread]  %-5level  [%logger] - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock" />
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <threshold value="ERROR"/>
      <file value="log\error.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  [%thread]  %-5level  [%logger] - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
</configuration>